<ms-loading *ngIf="load"></ms-loading>

<div class="err_top" style="text-align: center" *ngIf="error && !load">
  {{error}}
</div>

<div fxLayout="column" *ngIf="!load">
  <div fxLayout="row" fxLayoutAlign="center stretch" style="margin: 24px 0;">
    <mat-card fxFlex>

      <div style="text-align: right; width: 100%; height: 4px; font-size: 12px">
        <mat-input-container style="margin-right: 15px">
          <input matInput [(ngModel)]="currentQuery.fromDate" placeholder="Показать от:" [max-date]="minDate" date-only="true" (valueChanged)="currentQuery.page = 1; refresh()"
            ngui-datetime-picker autocomplete="false" type="text"/>
          <mat-icon matPrefix class="pointer" style="padding-right: 5px; position: relative;
          top: 4px;">
            today
          </mat-icon>
          <mat-icon class="pointer" style="position: relative; top: 4px;" matSuffix *ngIf="currentQuery.fromDate" (click)="currentQuery.fromDate = undefined; currentQuery.page = 1; refresh()">
            clear
          </mat-icon>
        </mat-input-container>

        <mat-input-container style="margin-right: 15px">
          <input matInput [(ngModel)]="currentQuery.toDate" placeholder="Показать до:" [min-date]="currentQuery.fromDate" date-only="true"
            (valueChanged)="currentQuery.page = 1; refresh()" ngui-datetime-picker autocomplete="false" type="text"/>
          <mat-icon matPrefix class="pointer" style="padding-right: 5px; position: relative;
          top: 4px;">
            today
          </mat-icon>
          <mat-icon style="position: relative; top: 4px;" class="pointer" matSuffix *ngIf="currentQuery.toDate" (click)="currentQuery.toDate = undefined; currentQuery.page = 1; refresh()">
            clear
          </mat-icon>
        </mat-input-container>
      </div>


      <mat-card-title>
        <span *ngIf="items?.length > 0; else no_items">Все {{data.names.ru2}}
          <button type="button" mat-raised-button color="primary" [disabled]="loadUploading" (click)="uploading(currentQuery)">Xls</button>
        </span>
        <ng-template #no_items>Нет {{data.names.ru3}}</ng-template>
      </mat-card-title>

      <mat-divider *ngIf="items?.length > 0"></mat-divider>

      <mat-card-content fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around stretch" style="margin-top: 30px">

        <table class="table table-hover table-striped table-condensed table-bordered" *ngIf="items?.length > 0">
          <thead>

            <tr class="sorded_tr">

              <th (click)="sort('id')" [ngClass]="{'selected': currentQuery.sort.indexOf('id') == 0}">
                Id
                <mat-icon class="sort_icon" *ngIf="currentQuery.sort.indexOf('id') == 0">
                  {{currentQuery.sort.indexOf('desc') > -1 ? 'keyboard_arrow_up':'keyboard_arrow_down'}}
                </mat-icon>
              </th>

              <th (click)="sort('email')" [ngClass]="{'selected': currentQuery.sort.indexOf('email') == 0}">
                Email
                <mat-icon class="sort_icon" *ngIf="currentQuery.sort.indexOf('email') == 0">
                  {{currentQuery.sort.indexOf('desc') > -1 ? 'keyboard_arrow_up':'keyboard_arrow_down'}}
                </mat-icon>
              </th>

              <th (click)="sort('country')" [ngClass]="{'selected': currentQuery.sort.indexOf('country') == 0}">
                Страна
                <mat-icon class="sort_icon" *ngIf="currentQuery.sort.indexOf('country') == 0">
                  {{currentQuery.sort.indexOf('desc') > -1 ? 'keyboard_arrow_up':'keyboard_arrow_down'}}
                </mat-icon>
              </th>

              <th (click)="sort('utm_campaign')" [ngClass]="{'selected': currentQuery.sort.indexOf('utm_campaign') == 0}">
                campaign
                <mat-icon class="sort_icon" *ngIf="currentQuery.sort.indexOf('utm_campaign') == 0">
                  {{currentQuery.sort.indexOf('desc') > -1 ? 'keyboard_arrow_up':'keyboard_arrow_down'}}
                </mat-icon>
              </th>

              <th (click)="sort('utm_content')" [ngClass]="{'selected': currentQuery.sort.indexOf('utm_content') == 0}">
                content
                <mat-icon class="sort_icon" *ngIf="currentQuery.sort.indexOf('utm_content') == 0">
                  {{currentQuery.sort.indexOf('desc') > -1 ? 'keyboard_arrow_up':'keyboard_arrow_down'}}
                </mat-icon>
              </th>

              <th (click)="sort('utm_medium')" [ngClass]="{'selected': currentQuery.sort.indexOf('utm_medium') == 0}">
                medium
                <mat-icon class="sort_icon" *ngIf="currentQuery.sort.indexOf('utm_medium') == 0">
                  {{currentQuery.sort.indexOf('desc') > -1 ? 'keyboard_arrow_up':'keyboard_arrow_down'}}
                </mat-icon>
              </th>

              <th (click)="sort('utm_source')" [ngClass]="{'selected': currentQuery.sort.indexOf('utm_source') == 0}">
                source
                <mat-icon class="sort_icon" *ngIf="currentQuery.sort.indexOf('utm_source') == 0">
                  {{currentQuery.sort.indexOf('desc') > -1 ? 'keyboard_arrow_up':'keyboard_arrow_down'}}
                </mat-icon>
              </th>


              <th (click)="sort('bitcoin_balance')" [ngClass]="{'selected': currentQuery.sort.indexOf('bitcoin_balance') == 0}">
                bitcoins
                <mat-icon class="sort_icon" *ngIf="currentQuery.sort.indexOf('bitcoin_balance') == 0">
                  {{currentQuery.sort.indexOf('desc') > -1 ? 'keyboard_arrow_up':'keyboard_arrow_down'}}
                </mat-icon>
              </th>

              <th>
                bitcoins paid
                <mat-icon class="sort_icon" *ngIf="currentQuery.sort.indexOf('btc') == 0">
                  {{currentQuery.sort.indexOf('desc') > -1 ? 'keyboard_arrow_up':'keyboard_arrow_down'}}
                </mat-icon>
              </th>

              <th (click)="sort('ethereum_balance')" [ngClass]="{'selected': currentQuery.sort.indexOf('ethereum_balance') == 0}">
                ethereum
                <mat-icon class="sort_icon" *ngIf="currentQuery.sort.indexOf('ethereum_balance') == 0">
                  {{currentQuery.sort.indexOf('desc') > -1 ? 'keyboard_arrow_up':'keyboard_arrow_down'}}
                </mat-icon>
              </th>

              <th (click)="sort('token_balance')" [ngClass]="{'selected': currentQuery.sort.indexOf('token_balance') == 0}">
                tokens
                <mat-icon class="sort_icon" *ngIf="currentQuery.sort.indexOf('token_balance') == 0">
                  {{currentQuery.sort.indexOf('desc') > -1 ? 'keyboard_arrow_up':'keyboard_arrow_down'}}
                </mat-icon>
              </th>

              <th (click)="sort('created_at')" [ngClass]="{'selected': currentQuery.sort.indexOf('created_at') == 0}">
                Дата создания
                <mat-icon class="sort_icon" *ngIf="currentQuery.sort.indexOf('created_at') == 0">
                  {{currentQuery.sort.indexOf('desc') > -1 ? 'keyboard_arrow_up':'keyboard_arrow_down'}}
                </mat-icon>
              </th>

            </tr>

          </thead>
          <tbody>

            <ng-template ngFor let-item [ngForOf]="items">

              <tr style="cursor: pointer; position: relative" [routerLink]="appMemory?.roles['admin.user-update'] ? [item?.id] : void">

                <td>
                  {{item?.id}}
                </td>

                <td>
                  {{item?.email || '-'}}
                </td>

                <td>
                  {{item?.source?.country || '-'}}
                </td>

                <td>
                  {{item?.source?.utm_campaign || '-'}}
                </td>

                <td>
                  {{item?.source?.utm_content || '-'}}
                </td>

                <td>
                  {{item?.source?.utm_medium || '-'}}
                </td>

                <td>
                  {{item?.source?.utm_source || '-'}}
                </td>

                <td class="balance-num">
                  {{item?.bitcoin_balance || '-'}}
                </td>

                <td class="balance-num">
                  {{item?.sum_transactions?.btc || '-'}}
                </td>

                <td class="balance-num">
                  {{item?.ethereum_balance || '-'}}
                </td>

                <td class="balance-num">
                  {{item?.token_balance || '-'}}
                </td>

                <td>
                  {{item?.created_at || '-'}}
                </td>

              </tr>

            </ng-template>

          </tbody>
        </table>

        <pagination [lastPage]="paginationInfo.last_page" [currentPage]="paginationInfo?.current_page" [total]="paginationInfo?.total"
          [type]="data.urls.show" [query]="currentQuery" [perPage]="paginationInfo?.per_page" [showNavigation]="true" *ngIf="paginationInfo?.last_page && paginationInfo?.current_page && paginationInfo?.last_page > 1">
        </pagination>

      </mat-card-content>
    </mat-card>
  </div>
</div>
