<ms-loading *ngIf="load"></ms-loading>
<div class="err_top" style="text-align: center" *ngIf="error && !load">
  {{error}}
</div>

<div fxLayout="column" *ngIf="!load">
  <div fxLayout="row" fxLayoutAlign="center stretch" style="margin: 24px 0;">
    <mat-card fxFlex="100%">

      <mat-card-title class="text-center">{{data.names.ru1}} #{{item?.id}}
        <div style="float: left; margin-top: -7px">
          <button mat-mini-fab [routerLink]="[(appMemory?.urls?.previousUrl?.url || data.urls.index)]" [queryParams]="appMemory?.urls?.previousUrl?.query"
            color="primary">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
      </mat-card-title>

      <mat-divider></mat-divider>

      <mat-card-content fxLayout="row" fxLayoutAlign="space-around stretch" style="margin: 30px 0">

        <form #newItemForm="ngForm" fxFlex="100%" (ngSubmit)="saveItem(newItemForm)" autocomplete="off" spellcheck="false">

          <mat-card-title>Email</mat-card-title>
          <div fxLayout="column" fxLayout.gt-md="row">
            <mat-input-container fxFlex>
              <input matInput placeholder="email" type="text" name="email" [(ngModel)]="item.email" required email>
            </mat-input-container>
          </div>

          <br>

          <mat-card-title>Бонус рейт (%)</mat-card-title>
          <div fxLayout="column" fxLayout.gt-md="row">
            <mat-input-container fxFlex>
              <input matInput placeholder="bonus_rate" type="number" name="bonus_rate" [(ngModel)]="item.bonus_rate" min="0" max="10" required>
            </mat-input-container>
          </div>

          <br>

          <mat-card-title>Бонус в токенах</mat-card-title>
          <div fxLayout="column" fxLayout.gt-md="row">
            <mat-input-container fxFlex>
              <input matInput placeholder="token_rate" type="number" name="token_rate" [(ngModel)]="item.token_rate" min="0">
            </mat-input-container>
          </div>

          <br>

          <mat-card-title>Новый пароль</mat-card-title>
          <div fxLayout="column" fxLayout.gt-md="row">
            <mat-input-container fxFlex>
              <input matInput placeholder="password" type="text" name="password" [(ngModel)]="item.password">
            </mat-input-container>
          </div>

          <br>

          <div hidden>
            <mat-card-title>Подтверждение пароля</mat-card-title>
            <div fxLayout="column" fxLayout.gt-md="row">
              <mat-input-container fxFlex>
                <input matInput placeholder="password" type="text" name="password-conf" [(ngModel)]="item.password">
              </mat-input-container>
            </div>
          </div>

          <ms-parse422 [obj]="errorObj"></ms-parse422>

          <div class="text-center">
            <button [disabled]="newItemForm.submitted && newItemForm.invalid" type="submit" mat-raised-button color="primary">Сохранить</button>
          </div>

        </form>

      </mat-card-content>

    </mat-card>
  </div>
</div>