<ms-loading *ngIf="load"></ms-loading>
<div class="err_top" style="text-align: center" *ngIf="error && !load">
  {{error}}
</div>

<div fxLayout="column" *ngIf="!load">
  <div fxLayout="row" fxLayoutAlign="center stretch" style="margin: 24px 0;">
    <mat-card fxFlex>

      <mat-card-title class="text-center">Новый {{data.names.ru1}}
        <div style="float: left; margin-top: -7px">
          <button mat-mini-fab [routerLink]="[(appMemory?.urls?.previousUrl?.url || data.urls.index)]" [queryParams]="appMemory?.urls?.previousUrl?.query"
            color="primary">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
      </mat-card-title>

      <mat-divider></mat-divider>

      <mat-card-content fxLayout="row" fxLayoutAlign="space-around stretch" style="margin: 30px 0">

        <form #newItemForm="ngForm" fxFlex="100%" (ngSubmit)="saveItem(newItemForm)">

          <mat-card-title>Квартал</mat-card-title>

          <div class="demo-tabs mat-elevation-z2 tabs1" style="margin-bottom: 40px">
            <mat-tab-group (selectChange)="focusInput('.tabs1 textarea')">

              <ng-container *ngFor="let tab of tabs; let i = index">
                <mat-tab label="{{tabs[i].toUpperCase()}}" style="border-color: red">
                  <div fxLayout="column" style="margin: 20px">
                    <mat-input-container fxFlex>
                      <textarea rows="3" matInput placeholder="{{tabs[i].toUpperCase()}}" [name]="'title_' + tabs[i]" [(ngModel)]="item.quarters[tabs[i]]" autofocus></textarea>
                    </mat-input-container>
                  </div>
                </mat-tab>
              </ng-container>

            </mat-tab-group>
          </div>

          <mat-card-title>Описание</mat-card-title>

          <div class="demo-tabs mat-elevation-z2 tabs2"
            style="margin-bottom: 40px">
            <mat-tab-group (selectChange)="focusInput('.tabs2 textarea')">

              <ng-container *ngFor="let tab of tabs; let i = index">
                <mat-tab label="{{tabs[i].toUpperCase()}}" style="border-color: red">
                  <div fxLayout="column" style="margin: 20px">
                    <mat-input-container fxFlex>
                      <textarea rows="3" matInput placeholder="{{tabs[i].toUpperCase()}}" [name]="'descriptions_' + tabs[i]" [(ngModel)]="item.descriptions[tabs[i]]" autofocus></textarea>
                    </mat-input-container>
                  </div>
                </mat-tab>
              </ng-container>

            </mat-tab-group>
          </div>

          <mat-card-title>Год</mat-card-title>
          <div fxLayout="column" fxLayout.gt-md="row">
            <mat-input-container fxFlex>
              <input matInput placeholder="year" type="number" name="display_name6" [(ngModel)]="item.year" required>
            </mat-input-container>
          </div>

          <br>

          <mat-card-title>Статус</mat-card-title>
          <div fxLayout="column" fxLayout.gt-md="row" style="margin-bottom: 50px">
            <!--             <mat-checkbox color="primary" name="active" [(ngModel)]="item.active">
              Публиковать?
            </mat-checkbox> -->
            <mat-form-field>
              <mat-select placeholder="Status" name="status" [(ngModel)]="item.selectedStatus" required>
                <mat-option *ngFor="let value of data?.roadStatus" [value]="value">
                  {{ value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <ms-parse422 [obj]="errorObj"></ms-parse422>

          <div class="text-center">
            <button [disabled]="newItemForm.submitted && newItemForm.invalid" type="submit" mat-raised-button color="primary">Сохранить</button>
          </div>

        </form>

      </mat-card-content>

    </mat-card>
  </div>
</div>
