<ms-loading *ngIf="load"></ms-loading>

<div class="err_top" style="text-align: center" *ngIf="error && !load">
  {{error}}
</div>

<div fxLayout="column" *ngIf="!load">
  <div fxLayout="row" fxLayoutAlign="center stretch" style="margin: 24px 0;">
    <mat-card fxFlex>
      <mat-card-title>
        <span *ngIf="items?.length > 0; else no_items">Все {{data.names.ru2}}</span>
        <ng-template #no_items>Нет {{data.names.ru3}}</ng-template>
        <a [routerLink]="[data.urls.create]" md-button color="primary">Создать {{data.names.ru1}}</a>
      </mat-card-title>

      <mat-divider *ngIf="items?.length > 0"></mat-divider>

      <mat-card-content fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around stretch" style="margin-top: 30px">

        <table class="table table-hover table-striped table-condensed table-bordered" *ngIf="items?.length > 0">
          <thead>
            <tr>
              <th></th>
              <th>Id</th>
              <th>Название</th>
              <th>Партнер</th>
              <th>Статус</th>
              <th>Дата создания</th>
              <th>Удалить</th>
            </tr>
          </thead>
          <tbody>


            <ng-template ngFor let-item [ngForOf]="items">

              <tr style="cursor: pointer; position: relative">
                <td class="avatar-cell">
                  <img class="avatar" [src]="item?.icon">
                  <a [routerLink]="[data.urls.show, item?.id]"></a>
                </td>

                <td>
                  {{item?.id}}
                  <a [routerLink]="[data.urls.show, item?.id]"></a>
                </td>

                <td>
                  {{item?.name}}
                  <a [routerLink]="[data.urls.show, item?.id]"></a>
                </td>

                <td>
                  {{item?.partner || '-'}}
                  <a [routerLink]="[data.urls.show, item?.id]"></a>
                </td>

                <td>
                  <mat-icon [color]="item?.active ? 'primary' : 'warn'">
                    {{item?.active ? 'check_circle' : 'close'}}
                  </mat-icon>
                  <a [routerLink]="[data.urls.show, item?.id]"></a>
                </td>

                <td>
                  {{item?.created_at}}
                  <a [routerLink]="[data.urls.show, item?.id]"></a>
                </td>

                <td>

                  <button mat-icon-button *ngIf="item?.shure" (click)="$event.stopPropagation(); item.shure = false">
                    Нет
                  </button>

                  <button style="float: left" mat-icon-button color="warn" *ngIf="item?.shure" color="warn" (click)="$event.stopPropagation(); deleteItem(item); item.shure = false">
                    Да
                  </button>

                  <button color="warn" *ngIf="!item?.shure" mat-icon-button (click)="$event.stopPropagation(); item.shure = true">
                    <mat-icon>cancel</mat-icon>
                  </button>

                </td>
              </tr>

            </ng-template>

          </tbody>
        </table>

        <pagination [lastPage]="paginationInfo?.last_page" [currentPage]="paginationInfo?.current_page" [total]="paginationInfo?.total"
          [type]="data.urls.show" [query]="currentQuery" [perPage]="paginationInfo?.per_page" [showNavigation]="true" *ngIf="paginationInfo?.last_page && paginationInfo?.current_page && paginationInfo?.last_page > 1">
        </pagination>

      </mat-card-content>

      <ms-loading-overlay [isLoading]="loadUpdate"></ms-loading-overlay>
    </mat-card>
  </div>
</div>