<ms-loading *ngIf="load"></ms-loading>
<div class="err_top" style="text-align: center" *ngIf="error && !load">
  {{error}}
</div>

<div fxLayout="column" *ngIf="!load">
  <div fxLayout="row" fxLayoutAlign="center stretch" style="margin: 24px 0;">
    <mat-card fxFlex>

      <mat-card-title class="text-center">Новый {{data.names.ru4}}
        <div style="float: left; margin-top: -7px">
          <button mat-mini-fab [routerLink]="[(appMemory?.urls?.previousUrl?.url || data.urls.index)]" [queryParams]="appMemory?.urls?.previousUrl?.query"
            color="primary">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
      </mat-card-title>

      <mat-divider></mat-divider>

      <mat-card-content fxLayout="row" fxLayoutAlign="space-around stretch" style="margin: 30px 0">

        <form #newItemForm="ngForm" fxFlex="100%" (ngSubmit)="saveItem(newItemForm)">

          <mat-card-title>E-mail</mat-card-title>
          <div fxLayout="column" fxLayout.gt-md="row">
            <mat-input-container fxFlex>
              <input matInput placeholder="E-mail (логин при входе)" name="email" [(ngModel)]="item.email" required>
            </mat-input-container>
          </div>
          <br>

          <mat-card-title>Имя</mat-card-title>
          <div fxLayout="column" fxLayout.gt-md="row">
            <mat-input-container fxFlex>
              <input matInput placeholder="Имя" name="name" [(ngModel)]="item.name" required>
            </mat-input-container>
          </div>
          <br>

          <mat-card-title>
            Пароль
          </mat-card-title>
          <div fxLayout="column" fxLayout.gt-md="row">
            <mat-input-container fxFlex>
              <input type="password" validateEqual="rePassword" autocomplete="off" reverse="true" matInput placeholder="Пароль" name="password"
                [(ngModel)]="item.password" required>
            </mat-input-container>
          </div>
          <div fxLayout="column" fxLayout.gt-md="row">
            <mat-input-container fxFlex>
              <input type="password" #requiredInput="ngModel" validateEqual="password" reverse="false" autocomplete="off" matInput placeholder="Повторите пароль"
                name="rePassword" [(ngModel)]="item.rePassword" required>
              <mat-error *ngIf="requiredInput?.errors?.validateEqual && newItemForm?.submitted">Пароли не совпадают</mat-error>
            </mat-input-container>
          </div>
          <br>

          <mat-card-title>Роли</mat-card-title>
          <mat-form-field style="width: 100%">
            <mat-select name="roles" placeholder="выбирите роли" [(ngModel)]="selectedRoles" multiple required>
              <mat-option *ngFor="let role of appMemory.allRoles" [value]="role">{{role.display_name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <ms-parse422 [obj]="errorObj"></ms-parse422>

          <div class="text-center">
            <button [disabled]="newItemForm.submitted && newItemForm.invalid" type="submit" mat-raised-button color="primary">Сохранить</button>
          </div>

        </form>

      </mat-card-content>

    </mat-card>
  </div>
</div>
