.pagination .mat-select-trigger{
    min-width: 50px;
}
:host {
  width: 100%;
}

.smal .mat-mini-fab{
  width: 30px;
  height: 30px;
  font-size: 13px;
  line-height: 27px
}
.smal .material-icons{
  font-size: 18px;
  line-height: 18px;
  padding: 6px 0;
}